version: '3.0'

services:
  grafana:
    container_name: grafana
    build:
      context: ./.config
      args:
        grafana_image: ${GRAFANA_IMAGE:-grafana-enterprise}
        grafana_version: ${GRAFANA_VERSION:-10.2.4}
    ports:
      - 3000:3000
    volumes:
      - ./dist:/var/lib/grafana/plugins/grafanalabs-surrealdb-datasource
      - ./provisioning:/etc/grafana/provisioning
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:3000/api/health"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    environment:
      - GF_LOG_LEVEL=debug
    networks:
      - surrealdb
  surrealdb:
    image: surrealdb/surrealdb:latest
    container_name: surrealdb
    restart: always
    command: start --username root --password test --allow-all
    ports:
      - 8000:8000
    networks:
      - surrealdb
  test-data-loader:
    image: curlimages/curl:latest
    container_name: test-data-loader
    command: |
      -v -X POST -u 'root:test' -H 'NS: test' -H 'DB: test' -H 'Accept: application/json' --data-binary @/dev/shm/surreal-deal-v1.surql http://surrealdb:8000/import
    depends_on:
      - surrealdb
    restart: on-failure
    volumes:
      - ./e2e/fixtures/surreal-deal-v1.surql:/dev/shm/surreal-deal-v1.surql
    networks:
      - surrealdb

networks:
  surrealdb:
