name: E2E Tests

on:
  workflow_run:
    workflows: [CI]
    types:
      - completed
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false

jobs:
  e2e:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Install Playwright Browsers
        run: yarn playwright install --with-deps

      - name: Download plugin-dist artifact
        uses: actions/download-artifact@v4
        with:
          github-token: ${{ secrets.GH_PAT }}
          merge-multiple: true
          path: dist/
          pattern: '*-dist'
          repository: ${{ github.repository }}
          run-id: ${{ github.event.workflow_run.id }}

      # actions/download-artifact@v4 does not keep executable permissions
      # intact, so we need to restore them manually.
      - name: Restore executable permissions
        run: |
          TARGET_DIR="dist/"

          if [ -d "$TARGET_DIR" ]; then
            for file in ${TARGET_DIR}gpx_*; do
              if [ -f "$file" ] && [ ! -x "$file" ]; then
                echo "Setting executable permission for $file"
                chmod +x "$file"
              fi
            done
          else
            echo "Directory $TARGET_DIR does not exist."
          fi

      - name: Install and run Docker Compose
        uses: isbang/compose-action@v1.5.1
        with:
          compose-file: './docker-compose.yaml'

      - name: Run Playwright tests
        run: yarn playwright test

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

    timeout-minutes: 60
