name: E2E Tests

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'

      - uses: actions/setup-go@v5
        with:
          go-version: 'stable'

      - name: Build backend
        uses: magefile/mage-action@v3
        with:
          args: buildAll
          version: latest

      - name: Install frontend dependencies
        run: yarn install --frozen-lockfile

      - name: Build frontend
        run: yarn build
        env:
          NODE_OPTIONS: '--max_old_space_size=4096'

      - name: Install Playwright Browsers
        run: yarn playwright install --with-deps

      # run the default compose file for the latest version of SurrealDB
      - if: matrix.surreal-version == 'latest'
        name: Install and run Docker Compose
        uses: hoverkraft-tech/compose-action@v2.2.0
        with:
          compose-file: './compose.yaml'

      # run the v1 compose file for SurrealDB 1.5.4
      - if: matrix.surreal-version == '1.5.4'
        name: Install and run Docker Compose
        uses: hoverkraft-tech/compose-action@v2.2.0
        with:
          compose-file: './compose-v1.yaml'

      - name: Wait for Grafana to start
        run: |
          timeout 180 bash -c 'until curl -s -o /dev/null -w "%{http_code}" http://localhost:3000 | grep -q "200"; do sleep 1; done && echo "Grafana is up!"'

      - name: Run Playwright tests
        run: yarn playwright test

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report-${{ matrix.surreal-version }}
          path: playwright-report/
          retention-days: 30
    strategy:
      matrix:
        surreal-version: [
            # TODO: re-enable this step when the 2.0 is supported
            # 'latest',
            '1.5.4',
          ]
    timeout-minutes: 60
