name: E2E Tests

on:
  workflow_run:
    workflows: [CI]
    types:
      - completed

jobs:
  e2e:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Install Playwright Browsers
        run: yarn playwright install --with-deps

      - name: Download plugin-dist artifact
        uses: actions/download-artifact@v4
        with:
          github-token: ${{ secrets.GH_PAT }}
          merge-multiple: true
          path: dist/
          pattern: "*-dist"
          run-id: ${{ github.event.workflow_run.id }}

      # actions/download-artifact@v4 does not keep executable permissions
      # intact, so we need to restore them manually.
      - name: Restore executable permissions
        run: |
          TARGET_DIR="dist/"

          if [ -d "$TARGET_DIR" ]; then
            for file in ${TARGET_DIR}gpx_*; do
              if [ -f "$file" ] && [ ! -x "$file" ]; then
                echo "Setting executable permission for $file"
                chmod +x "$file"
              fi
            done
          else
            echo "Directory $TARGET_DIR does not exist."
          fi

      - name: Install and run Docker Compose
        uses: isbang/compose-action@v2.0.1
        with:
          compose-file: './docker-compose.yaml'

      - name: Wait for Grafana to start
        uses: nev7n/wait_for_response@v1
        with:
          url: 'http://localhost:3000/'
          responseCode: 200
          timeout: 60000
          interval: 500
      - name: Run Playwright tests
        run: yarn playwright test

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

    timeout-minutes: 60
