name: Integration Tests

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: '20'
          cache: 'yarn'

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: 'stable'

      - name: Build backend
        uses: magefile/mage-action@6f50bbb8ea47d56e62dee92392788acbc8192d0b
        with:
          args: buildAll
          version: latest

      - name: Install frontend dependencies
        run: yarn install --frozen-lockfile

      - name: Build frontend
        run: yarn build
        env:
          NODE_OPTIONS: '--max_old_space_size=4096'

      # run the default compose file for the latest version of SurrealDB
      - if: matrix.surreal-version == 'latest'
        name: Install and run Docker Compose
        uses: hoverkraft-tech/compose-action@b63643de227a1eed273c58de31d4bc5c9d99b4da
        with:
          compose-file: './compose.yaml'

      # run the v1 compose file for SurrealDB 1.5.4
      - if: matrix.surreal-version == '1.5.4'
        name: Install and run Docker Compose
        uses: hoverkraft-tech/compose-action@b63643de227a1eed273c58de31d4bc5c9d99b4da
        with:
          compose-file: './compose-v1.yaml'

      - name: Run integration tests
        # sleep for 30 seconds to allow the data to be loaded into the database
        run: sleep 30 && go test -v ./tests/integration/**
    strategy:
      matrix:
        surreal-version: [
            # TODO: re-enable this step when the 2.0 is supported
            # 'latest',
            '1.5.4',
          ]
    timeout-minutes: 60
