name: Integration Tests

on:
  workflow_run:
    workflows: [CI]
    types:
      - completed

jobs:
  e2e:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Download plugin-dist artifact
        uses: actions/download-artifact@v4
        with:
          name: plugin-dist
          path: dist/
          github-token: ${{ secrets.GH_PAT }}
          repository: ${{ github.repository }}
          run-id: ${{ github.event.workflow_run.id }}

      # actions/download-artifact@v4 does not keep executable permissions
      # intact, so we need to restore them manually.
      - name: Restore executable permissions
        run: |
          TARGET_DIR="dist/"

          if [ -d "$TARGET_DIR" ]; then
            for file in ${TARGET_DIR}gpx_*; do
              if [ -f "$file" ] && [ ! -x "$file" ]; then
                echo "Setting executable permission for $file"
                chmod +x "$file"
              fi
            done
          else
            echo "Directory $TARGET_DIR does not exist."
          fi

      - name: Install and run Docker Compose
        uses: isbang/compose-action@v2.0.1
        with:
          compose-file: './docker-compose.yaml'

      - name: Run integration tests
        run: go test -v ./e2e/datasource/**

    timeout-minutes: 60
